* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  position: relative;
  background: greenyellow;
  color: black;
  padding: 15px 25px;
}

a::before {
  content: "Click Me";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
}
a::after {
  content: "Click Me";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: peru;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
  transition-delay: 0.25s;
}

a:hover:before,
a:hover:after {
  transform: rotateX(0deg);
}
