* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: #000000;
}

.card {
  background: linear-gradient(#faaca8, #ddd6f3);
  width: 700px;
  padding: 20px;
  margin: 20px;
  line-height: 25px;
}
.card:hover {
  background: linear-gradient(#52acff, #ffe32c);
}
.card-title {
  display: flex;
  justify-content: center;
  background: linear-gradient(#a9c9ff, #ffbbec);
  width: 70px;
  border-radius: 10px;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  /* background: #fff; */
  border-radius: 10px;
  background: linear-gradient(#fee140, #fa709a);
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#ffdee9, #b5fffc);
}
