* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(16, 16, 16);
}
a {
  text-decoration: none;
  color: antiquewhite;
  /* background: greenyellow; */
  border: 2px solid antiquewhite;
  border-style: double;
  padding: 15px 30px;
  position: relative;
  overflow: hidden;
  transition: all 1s;
}
a:before {
  content: "Download";
  font-weight: bold;
  color: #000;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  transition: all 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}
a:hover:before {
  transform: translateY(0%);
}
